* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: #333;
  color: #fff;
}

input,
button {
  font-size: 24px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

input {
  display: block;
  margin-bottom: 20px;
  align-items: center;
  background-color: #555;
  width: 200px;
}

button {
  background-color: #555;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

button:hover {
  background-color: #777;
}

button:active {
  background-color: #999;
}

button.orange {
  background-color: #ff9800;
  color: #333;
}

button.orange:hover {
  background-color: #ffa726;
}

button.orange:active {
  background-color: #fb8c00;
}

h1 {
  text-align: center;
  color: #ff9800;
  margin-top: 50px;
}

.center-input {
  display: block;
  margin: 0 auto 20px;
}

.output-box {
  color: #ff9800;
  border: 2px solid #555;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.wide-button {
  width: auto;
  padding: 15px 20px;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-container .button-spacing {
  margin-top: 20px;
}
